<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h2>User info</h2>
      
      <div class="form-group">
      <%= form_with model: @user do |f| %>
        <div class="field-item">
          <label for="inputName">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"inputName" %>
        </div>
        <div class="field-item">
          <label for="inputImage">Image</label><br>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="field-item">
          <label for="inputIntroduction">Introduction</label><br>
          <%= f.text_field :introduction %>
        </div>
        <div class="field-item">
          <%= f.submit nil, class: "btn btn-secondary" %>
        </div>
      <% end %>
      </div>
      
    </div>
  </div>
</div>