<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h2>Editing Book</h2>

      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved: 
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group">
      <%= form_with model: @book, url: book_path(@book.id), method: :patch do |b| %>
        <div class"form-group">
          <label>Title</label><br>
          <%= b.text_field :title %>
        </div>
        <div class="form-group">
          <label>Opinion</label><br>
          <%= b.text_area :body %>
        </div><br>

          <%= b.submit 'Create Book', class: "btn btn-success btn-block" %><br>


        <div class ="link">
          <div class="link-item">
            <%= link_to 'Show', book_path(@book.id) %>
             |
            <%= link_to 'Back', books_path %>
          </div>
        </div>
      <% end %>
      </div>